

body 
{
    margin: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: auto ;
    text-decoration: none;
}

/*page*/
.page 
{
  width: 100%;
}

.page a 
{
    text-align: center;
    text-decoration: none;
    font-size: 50;
    bottom: 10px;
}

.page_name a 
{
  text-decoration: none;
  text-align: center ;
  display: block;
}

/*slides*/

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

.slideshow-background
{
  background-image: url(black.png);
  width: 70%;
  height: 75%;
  max-width: 90% ;
  max-height: 90%;
}

.slideshow-container {
  width: 100%;
  height: 100%;
  max-width: 95% ;
  max-height: 95%;
}

.mySlides img
{
  display: inline-table;
  height: 100%;
  margin: 15px;
  max-width: 100% ;
  max-height: 225%;  
}
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: -50%;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*about*/
.container
{
  padding-top: 90px;
}
.entry-header {
  margin-left: 15px;
}
.about_para
{
margin-left: 9px;
}

/*contactform*/
.contactform
{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.elem-group {
  padding: 10px;
  margin: 30px 0;
}

label {
  display: block;
  font-family: 'Aleo';
  padding-bottom: 4px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Aleo';
  width: 500px;
  padding: 8px;
}

textarea {
  height: 250px;
}

button {
  height: 50px;
  background: green;
  color: white;
  border: 2px solid darkgreen;
  font-size: 1.25em;
  font-family: 'Aleo';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

/*social_media*/
.social_media
{
  padding: 15px;
  background-color:rgb(37, 36, 36);
  color:white
}

.fa 
{
  width: 20px;
  text-decoration: none;
}

.fa:hover
{
  opacity: 1;
}

.fa-facebook
{
  color: white;
}

.fa-twitter
{
  color: white;
}

.fa-instagram
{
  color: white;
}
