@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

body 
{
    margin: 0;
    background-color: white;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: auto ;
    text-decoration: none;
}
.navbar 
{
background: #0b493d;
position: fixed;
padding-bottom: 190px;
}

.navbar_name
{
  vertical-align: middle;
  text-decoration: none ;
  color: white;
  font-size: 40;
  font-weight: 40;
  font-family: Sora;
}
.nav-item
{
  font-size: 20px;
  font-weight: 550;
  font-family: Roboto'Kumbh Sans', sans-serif;
  padding-top: 30px ;
}

.collapse navbar-collapse
{
text-align: center;
justify-content: center;
}
/* Slideshow container */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(255, 255, 255, 0.8);

}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 10 2px 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


.container-4 {
  display: flex;
}
.container-3
{
  display: flex;
  border: 2px solid black;
  margin: auto;
}

/* homepage-blogs */
.blog {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.blogbox {
  display: flex;
  text-align: center;
  margin: 8px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.image img {
  width: 160px;
  height: 160px;
}

.about
{
  padding-top: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: rgb(0, 0, 0);
}
.entry-header {
  margin-left: 15px;
}
.about_para
{
margin-left: 9px;
}
.footer
{ 
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 16pt;
margin: auto;
}
.container2 
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_media
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-footer
{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* contact */
* {box-sizing: border-box;}

input[type=text], select, textarea {  
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:  #0b493d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  #0b493d;
}

.contactform {
  font-size: 20 ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 300px 15px 300px ;
  justify-content: left;
  border-radius: 10px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  padding: 20px;
}

.submit {
  text-align: center;
}

#error_message{
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

/* BLOGS */
.card
{
  margin: 0px 0px 15px 0px;
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.blogimage 
{
  width: 130px;
  height: 100px;
}
